body {
  padding-top: 70px;
  padding-bottom: 30px;
  background-color: #fdf6e3;
}

.latenza {
  position: absolute;
  right: 150px;
  top: 20px;
  z-index: 9999;
  width: 300px;
}

.open-page {
  padding: 30px;
}

a {
  color: #268bd2;
}

a:hover {
  color: #d33682;
}

a:click {
  color: #6c71c4;
}

.base03 {
  background-color: #fdf6e3;
}

.base02 {
  background-color: #eee8d5;
}

.base01 {
  background-color: #93a1a1;
}

.base00 {
  background-color: #839496;
}

.base0 {
  background-color: #657b83;
}

.base1 {
  background-color: #586e75;
}

.base2 {
  background-color: #073642;
}

.base3 {
  background-color: #002b36;
}
