$yellow: #b58900;
$orange: #cb4b16;
$red: #dc322f;
$magenta: #d33682;
$violet: #6c71c4;
$blue: #268bd2;
$cyan: #2aa198;
$green: #859900;

// Dark

// $base03: #002b36;
// $base02: #073642;
// $base01: #586e75;
// $base00: #657b83;
// $base0: #839496;
// $base1: #93a1a1;
// $base2: #eee8d5;
// $base3: #fdf6e3;

// Light

$base03: #fdf6e3;
$base02: #eee8d5;
$base01: #93a1a1;
$base00: #839496;
$base0: #657b83;
$base1: #586e75;
$base2: #073642;
$base3: #002b36;


body {
  padding-top: 70px;
  padding-bottom: 30px;
  background-color: $base03;
}

.latenza {
  position: absolute;
  right: 100px;
  top: 20px;
  z-index: 9999;
}

.navbar {
  position: relative;
  min-height: 50px; // Ensure a navbar always shows (e.g., without a .navbar-brand in collapsed mode)
  margin-bottom: 30px;
  border: 1px solid transparent;

}

.navbar-nav {
  float: left;
  margin: 0;
}

.navbar-nav>li {
  float: left;
  margin-left: 20px;
}

.navbar-fixed-top,
.navbar-fixed-bottom {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 999;
}

.nav>li {
position: relative;
display: block;
}

.open-page {
  padding: 30px;
}

a {
  color: $blue;
}

a:hover {
  color: $magenta;
}

a:click {
  color: $violet;
}

.base03 {
  background-color: $base03;
}
.base02 {
  background-color: $base02;
}
.base01 {
  background-color: $base01;
}
.base00 {
  background-color: $base00;
}
.base0 {
  background-color: $base0;
}
.base1 {
  background-color: $base1;
}
.base2 {
  background-color: $base2;
}
.base3 {
  background-color: $base3;
}

